aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.9.0
certifi==2025.4.26
cffi==1.17.1
dotenv==0.9.9
eval_type_backport==0.2.2
exceptiongroup==1.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hume==0.8.5
idna==3.10
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pydub==0.25.1
python-dotenv==1.1.0
simpleaudio==1.0.4
sniffio==1.3.1
sounddevice==0.4.7
typing-inspection==0.4.1
typing_extensions==4.14.0
websockets==13.1
