#canvas-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/* Assurons-nous qu'il n'y a pas de marges qui pourraient causer des scrollbars */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}