#header {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 20px;
  color: white;
}

#canvas-container {
  width: 100vw;
  height: 90vh;
  background-color: white;
}

/* Assurons-nous qu'il n'y a pas de marges qui pourraient causer des scrollbars */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}